*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.container {
  width:90%;
  margin: 0 auto;
}

header {
  color:'#fff';
  background: '#333';
  padding: '10px';
  text-align:'center';
}

.todoWrapper {
  display: flex;
  width:100%;
  padding:10px;
  justify-content: space-between;
}

.addTodo {
    padding: 10px 15px;
    font-size:20px;
    width:90%;
    border:2px solid #333;
}

.btn {
  outline:none;
  cursor: pointer;
}

.btn-sub {
  width:8%;
  border: 2px solid #333;
  padding: 12px;
  cursor: pointer;
  font-size: 15px;
  background-color: #333;
  color: #fff;
}

.btn:hover {
  background: #fff;
  color:#333;
  transition: all .7s;
}

.btn-remove {
  border: 2px solid #333;
  padding: 4px;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  background-color: #333;
  color:#fff;
  border-radius: 15px;
}

.todos {
  border-collapse: collapse;
  width:100%;
  table-layout: fixed;
}

.todos td, .todos th {
  border: 1px solid #ddd;
  padding: 8px;
}

.todos tbody tr:hover {
  background-color: #ddd;
}

.thead .row {
  border:1px solid rgb(202, 202, 202);
  background-color: rgb(243, 243, 243);
}

.thead .row .item {
  font-size: 18px;
  font-weight: bold;
  color:#333;
}

.row {
  display: flex;
  padding: 20px;
  align-items: center;
  width: 100%;
  background-color: rgb(250, 250, 250);
}

.row .item:nth-of-type(1) {
  flex: 1;      
}

.row .item:nth-of-type(2) {
  flex: 13;    
}

.row .item:nth-of-type(3) {
  flex: 1;    
}

.tbody .row {
  border-bottom: 1px solid rgb(202, 202, 202);
}

.item {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;  
  font-size: 18px;
  overflow: hidden;
}

input[type='checkbox'] {
  border:0.1em solid #000;
  width:1em;
  height:1em;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .item:nth-child(odd) {
    overflow:visible;
  }
  .addTodo {
    width: 80%;
  }
  .btn-sub {
    width: 20%;
  }
  .todoWrapper {
    padding: 5px 0px;
  }
  .item, .addTodo {
    font-size: 15px;
  }
  .btn {
    font-size: 12px;
  }
  .thead .row .item {
    font-size:16px;
  }
}




